<%= render "shared/error_messages" %>

<div class="d-flex align-items-center">
  <h4>文献編集</h4>
  <div class="ml-auto literatures__linkBox">
    <%= link_to "戻る",:back, class: 'btn btn-outline-dark' %>
  </div>
</div>

<%= render partial: 'form', locals:{literature: @literature} %>
