<%= render 'shared/error_messages' %>

  <div class="ml-auto literatures__linkBox">
    <%= link_to "会員一覧",users_path, class: 'btn btn-outline-dark' %>
  </div>


<div class="form_box  col-sm-6">
  <h2>ユーザー編集</h2>
  <%= render 'form', locals: { user: @user} %>
  <%# <%= render 'form' %> %>
</div>
