<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <div class="about">
    <h1>このサイトについて</h1>
    <h4>書籍、論文、雑誌、Web等の情報を一元管理したい方におすすめします。</h4>
    <p>主な使い方</p>
    <ul>
      <li>レポート、論文作成時の参考文献表を作りたい方。</li>
      <li>エクセル管理していたけれども,ファイルが複数あって、最新がどれかわからない方。</li>
      <li>ブログ記事作成のネタ帳として使いたい方</li>
      <li>管理人のように、同じ本を買ってしまう方。</li>
    </ul>
  </div>
</html>
