// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form_box {
  margin: 30px auto;
  border: 5px solid #e8e8e8;
  padding: 25px;
  border-radius: 14px;
}
