<div class="form-group">
  <% if @user.id == 1 %>
    <%= form.check_box :administrator, disabled: "" %>
  <% else %>
    <%= form.check_box :administrator %>
  <% end %>
  <%= form.label :administrator, "管理者"  %>
</div>
