<header class="navbar navbar-fixed-top navbar-dark bg-dark header">
  <div class="container">
    <%= link_to "My 集合知", "#", class: 'navbar-brand ' %>
      <nav>
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Home",   '#' %></li>
          <li class="nav-item"><%= link_to "Log in", '#' %></li>
        </ul>
      </nav>
  </div>
</header>
